.form-input {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  width: 100%;
}

.form-input__label {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #c4bfd4;
  margin-bottom: 0.25rem;
  letter-spacing: 0.05em;
  white-space: nowrap;
}

.form-input__input {
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #C9C6C6;
  border-radius: 6px;

  &--invalid {
    border-color: var(--color-error);
  }

  &:disabled, &:read-only {
    background: #F6F6F6;
  }
}

input {
  box-sizing: border-box;
  outline: none;
  border: 1px solid #C9C6C6;
  padding: 0.5rem;
  color: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radio-label {
  display: flex;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-label__new-radio {
  position: absolute;
  top: 50%;
  left: 0;
  height: 15px;
  width: 15px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 3px solid #CDDBE5;
  /*outline: 3px solid #CDDBE5;*/
  border-radius: 50%;
  transform: translateY(-60%);
}

.radio-label:hover input ~ .radio-label__new-radio {
  background-color: #f0f0f0;
}

.radio-label input:checked ~ .radio-label__new-radio {
  background-color: #6991b2;
}
